/*Additional styling to overwrite bootstrap.css rules*/

/*Separate body from navigation bar*/
body{
    padding-top: 70px;
}
/*Change color of jumbotron and its elements*/
.jumbotron{
    color: #2c3e50;
    background: #ecf0f1;
}
/*Change background of navigation bar*/
.navbar-inverse{
    background: #2c3e50;
}
/*Change color of elements of navigation bar
  Cannot use direct <a> tag due to less specificity*/
.navbar-inverse .navbar-nav>li>a{
    color: white;
}
/*Change color of brand name
  Cannot use direct .navbar-brand due to less specificity*/
.navbar-inverse .navbar-brand{
    color: white;
}
/*Add some spacing between letters in description*/
.description{
    letter-spacing: 0.1rem;
}
/*Change width of images to 100%
  Exclude images of class width-fix
  Cannot use direct img due to less specificity*/
.thumbnail>img:not(.width-fix){
    width: 100%;
}
/*Change height of images to 180px
  Cannot use direct img due to less specificity*/
.thumbnail>img{
    height: 180px;
}
/*Change height and width of images to 100%
  Only when window size is less than 767px (breakpoint)
  Cannot use direct img due to less specificity*/
@media(max-width:767px){
	.thumbnail>img{
        width: 100%;
		height: 100%;
	}
}
